<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> -->
<div class="nav height100" id="head">
    <div class="nav-con width-con">
        <a href="/index.html" class="logo">
            <img src="<%- baseMsg.imgCDN %>/logo.png">
        </a>
        <div class="nav-list-con">
            <ul class="nav-list" id="nav">
                <li class="nav-index "><a href="/index.html" class="color-black nav-hover">首页</a></li>
                <li class="nav-news "><a href="/news-list.html" class="color-black nav-hover">电务通动态</a></li>
                <li class="nav-about"><a href="/about.html" class="color-black nav-hover">企业介绍</a></li>
                <li class="nav-solution"><a href="/solution.html" class="color-black nav-hover">产品服务</a></li>
                <li class="nav-case"><a href="/cases.html" class="color-black nav-hover">案例介绍</a></li>
                <li class="nav-contact"><a href="/contact.html" class="color-black nav-hover">联系我们</a></li>
                <li class="expective-active" id="header-experience"><a href="http://account.saas.dianwutong.com/" class="pointer">登录</a></li>
                <li id="header-user">
                    <a class="color-black pointer" href="javascript:;">个人中心</a>
                    <ul id="user-panel">
                        <li id="li-update-password">修改密码</li>
                        <li id="li-logout">退出登录</li>
                        <li id="li-edp"><a href="http://edp.saas.dianwutong.com">EDP系统</a></li>
                        <li id="li-ems"><a href="http://ems.saas.dianwutong.com">EMS系统</a></li>
                        <li id="li-console"><a href="http://console.saas.dianwutong.com">控制台</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>