<!DOCTYPE html>
<html lang="en">

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>
        <%- baseMsg.title %>
    </title>
    <link rel="stylesheet" href="<%- baseMsg.fileCDN %>/swiper/swiper.min.css">
</head>

<body>
    {{{htmlWebpackPlugin.options.header_mobile}}}
    <div class="container">
        <!--banner-->
        <div class="swiper-container banner-con" id="banner">
            <div class="swiper-wrapper ">
                <!--banner2-->
                <div class="swiper-slide index-banner2 slider">
                    <img src="<%- baseMsg.imgCDN %>/mobile/index/banner2.png">
                </div>
                <!--banner3-->
                <div class="swiper-slide index-banner3 slider">
                    <div class="dot" style="top: 20vw;left:14vw ">
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                    </div>
                    <div class="dot" style="top: 24vw;left:14vw ">
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                    </div>
                    <div class="dot" style="top:65vw;left:41vw">
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                    </div>

                    <div class="dot" style="top:63vw;left:68vw">
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                        <div class="bg-dot-red"></div>
                    </div>
                    <span class="color-dot-red dot-text" style="top:64vw;left:75vw">数据中心</span>
                    <div class="dot" style="top:47vw;left:7vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:65.3vw;left:22.3vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:65.3vw;left:3.3vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:49.3vw;left:28.3vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:68.6vw;left:22.4vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:54.3vw;left:40.4vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:55.3vw;left:41.5vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:49.3vw;left:44.5vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>

                    <div class="dot" style="top: 48vw;;left:55.4vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top: 54.8vw;;left:61.4vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <span class="color-dot-yellow dot-text" style="top:54.4vw;left:69.2vw">抢修站</span>
                    <div class="dot" style="top:45vw;left:73.6vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>

                    <div class="dot" style="top:44.6vw;left:84.1vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:21.6vw;left:69.1vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:21.4vw;left:76.4vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:19.5vw;left:69.4vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:70vw;left:78.7vw">
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                        <div class="bg-dot-yellow"></div>
                    </div>
                    <div class="dot" style="top:62vw;left:19vw">
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                    </div>
                    <div class="dot" style="top:40vw;left:34vw">
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                    </div>
                    <span class="color-dot-blue dot-text" style="top:40vw;left:43vw">服务站</span>
                    <div class="dot" style="top:62vw;left:51vw">
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                    </div>
                    <div class="dot" style="top:27vw;left:76vw">
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                    </div>
                    <div class="dot" style="top:56vw;left:79vw">
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                        <div class="bg-dot-blue"></div>
                    </div>

                    <div class="banner3-title">
                        <div class="banner-title space2">专业运维团队 每天巡检
                            <span class="color-orange-gradient"> 2 </span>次以上</div>
                        <div style="color: #e3e2e2" class="space2">抢修20分钟直达现场，
                            <span class="color-orange-gradient" style="font-size: 1.3rem"> 2 </span>小时内解决问题
                        </div>
                    </div>
                </div>

                <!--banner1-->
                <div class="swiper-slide index-banner1 slider">
                    <div class="desc">
                        <div class="space2">PB级/月电力数据</div>
                        <div class="height5"></div>
                        <div class="space1">
                            EMS通过专业的巡检PAD和抢修PAD，结合GIS系统、光纤及移动通信网络实现变配电室运维全流程信息化。EDP可以针对每月PB级的电力数据进行多维度模型分析，为用电用户提供各种报表和增值服务。
                        </div>
                    </div>

                    <div class="total-count">
                        <div class="total-count-desc color-blue space1">电力数据总量:
                            <span class="total-count-text color-blue num"></span>
                        </div>

                    </div>
                </div>

            </div>
            <!--news-->
            <div class="news-panel">

                <div class="news-panel-con" style="position: relative;overflow: hidden">
                    <% allNews.forEach(function(news){ %>
                        <a class="news-list" href="/news.html?id=<%-news.newsId%>">
                        <span class="news-icon">
                            <img src="<%- baseMsg.imgCDN %>/mobile/index/news-normal.png">
                        </span>
                        <span class="ellipsis news ">
                            <%-news.title%></span>
                        <span class="news-date noWrap">[
                            <%- news.lastModifyTime%> ]</span>
                    </a>
                    <% }) %>
                </div>

            </div>

        </div>
        <!--tech-->
        <div class="height-tech bg-grey"></div>
        <div class="tech-title bg-grey">
            <span>变配电室运行维护，升级线上线下生命周期</span>
        </div>
        <div class="height-tech bg-grey"></div>
        <div class="tech-list-con ">
            <div class="tech-list bg-active cloud-computing-list ">
                <div class="tech-list-left">
                    <div class="icon-bg">
                        <span class="cloud-computing cloud-computing-icon  tech-icon-font"></span>
                    </div>
                    <span class="tech-list-text">运维成本降低约50%</span>
                </div>
                <span class="tech-arrow show-detail"></span>
            </div>
            <div class="tech-list-detail hide">
                <div class="height-tech-detail-space1"></div>
                <p class="color-grey"> 人工巡检需要大量人力资源，电工从业人员连年下降，但人工成本逐年上升。不如电务通远程监控，无人值班少人值守。</p>
                <div class="height-tech-detail-space2"></div>
            </div>
        </div>
        <div class="height-techlist-space"></div>
        <div class="tech-list-con">
            <div class="tech-list bg-active BGS-list">
                <div class="tech-list-left">
                    <div class="icon-bg">
                        <span class="BGS tech-icon-font BGS-icon"></span>
                    </div>
                    <span class="tech-list-text">运维质量提升</span>
                </div>
                <span class="tech-arrow show-detail"></span>
            </div>
            <div class="tech-list-detail hide">
                <div class="height-tech-detail-space1"></div>
                <p class="color-grey">设备带电，人工巡检智能检查表面，内部隐患无法监测预防。不如电务通智能运维，预警报警，提前排除事故减少企业损失。</p>
                <div class="height-tech-detail-space2"></div>
            </div>

        </div>
        <div class="height-techlist-space"></div>
        <div class="tech-list-con">
            <div class="tech-list bg-active IOM-list">
                <div class="tech-list-left">
                    <div class="icon-bg">
                        <span class="IOM tech-icon-font IOM-icon"></span>
                    </div>
                    <span class="tech-list-text">故障维修有保障</span>
                </div>
                <span class="tech-arrow show-detail"></span>
            </div>
            <div class="tech-list-detail hide">
                <div class="height-tech-detail-space1"></div>
                <p class="color-grey"> 人工模式缺乏专业指导，故障后报修为主，无法自己排除，维修慢，时间成本上升导致企业经济损失。不如电务通即时抢修，20分钟抵达现场，2小时排除故障。</p>

                <div class="height-tech-detail-space2"></div>
            </div>

        </div>
        <div class="height-techlist-space"></div>
        <div class="tech-list-con">
            <div class="tech-list bg-active DATA-SERVICE-list">
                <div class="tech-list-left">
                    <div class="icon-bg">
                        <span class="DATA-SERVICE tech-icon-font DATA-SERVICE-icon"></span>
                    </div>
                    <span class="tech-list-text">用电安全有保障</span>
                </div>
                <span class="tech-arrow show-detail"></span>
            </div>
            <div class="tech-list-detail hide">
                <div class="height-tech-detail-space1"></div>
                <p class="color-grey"> 35%的掉闸事故系由用户设备故障引起，企业面临高额补偿，设备故障带来的经济损失无法估量。不如电务通专有模式，72项专业化检测标准，全方位监测，打造安全模式。</p>
                <div class="height-tech-detail-space2"></div>
            </div>

        </div>
        <!--data-service-->
        <div class="height-tech bg-grey"></div>
        <div class="tech-title bg-grey">
            <span>强化产品动能，提升服务质量</span>
        </div>
        <div class="height-tech bg-grey"></div>
        <div class="height-data-service-space1 bg-white"></div>
        <div class="data-service-pic bg-white padding1">
            <img src="<%- baseMsg.imgCDN %>/mobile/index/section3.png">
        </div>
        <div class="height-data-service-space1 bg-white"></div>
        <p class="data-service-text bg-white color-grey">
            因为专注 所以专业/7＊24小时实时数据监控/标准化检测72项/精确的事故预警报警/全方位的服务，守护你的每分每秒。
        </p>
        <div class="height-data-service-space1 bg-white"></div>
        <!--PB-->
        <div class="height-tech bg-grey"></div>
        <div class="tech-title bg-grey">
            <span>全维度无遗漏，立体化管理电力运维</span>
        </div>
        <div class="height-tech bg-grey"></div>
        <div class="cases-show bg-white">
            <div class="height10"></div>
            <div class="swiper-container" id="section4-banner">
                <div class="swiper-wrapper bg-white">
                    <div class="swiper-slide center">
                        <div class="padding-content align text-height color-grey">
                            以电气模拟量与环境全数据采集代替传统人工值班，低成本、中安全
                        </div>
                        <div class="height10"></div>
                        <img class="case-img" src="<%- baseMsg.imgCDN %>/mobile/index/section4-1.png" />
                    </div>
                    <div class="swiper-slide center">
                        <div class="padding-content align color-grey text-height ">
                            以人工智能卓越的信息处理能力代替传统人工监测分析，敏感度高、控制精细。
                        </div>
                        <div class="height10"></div>
                        <img class="case-img" src="<%- baseMsg.imgCDN %>/mobile/index/section4-2.png" />
                    </div>
                    <div class="swiper-slide center">
                        <div class="padding-content align color-grey text-height ">
                            以智能化预警报警代替传统故障后抢修，低风险、高体验。

                        </div>
                        <div class="height10"></div>
                        <img class="case-img" src="<%- baseMsg.imgCDN %>/mobile/index/section4-3.png" />
                    </div>
                    <div class="swiper-slide center">
                        <div class="padding-content align color-grey text-height ">
                            以线上加线下代替传统作业方式，流程标准化规范，减少企业面临的各类风险。
                        </div>
                        <div class="height10"></div>
                        <img class="case-img" src="<%- baseMsg.imgCDN %>/mobile/index/section4-4.png" />
                    </div>
                </div>
            </div>
            <div class="height10"></div>
            <!-- 分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="height10 bg-white"></div>
        <!--moniter-->
        <div class="height-tech bg-grey"></div>
        <div class="tech-title bg-grey">
            <span>以技术化促进服务化，一站式集群管理</span>
        </div>
        <div class="height-tech bg-grey"></div>
        <div class="section5-content" id="section5">
            <a href="/cases.html">
                <div class="swiper-container section5-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_1.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_2.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_3.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_4.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_5.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_6.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_7.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_8.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_9.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_10.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_11.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_12.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_13.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_14.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="<%- baseMsg.imgCDN %>/index/anli_15.jpg">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--paterner-->
        <div class="height-tech bg-grey"></div>
        <div class="tech-title bg-grey">
            <span>合作伙伴</span>
        </div>
        <div class="height-tech bg-grey"></div>
        <div class="paterner-pic bg-grey">
            <img src="<%- baseMsg.imgCDN %>/mobile/index/paterner-pic.png">
        </div>
        <div class="bg-grey" style="height: 6.67rem"></div>
    </div>
    {{{htmlWebpackPlugin.options.footer_mobile}}}
    <script type="text/javascript" src="<%- baseMsg.fileCDN %>/swiper/swiper.min.js"></script>
</body>

</html>