<footer class="common-footer">
        <a href="contact.do" class="bg-active"><span>联系我们</span> <i class="icon"></i></a>
        <a href="http://cdn.dianwutong.com/app/dianwutong_saas/download.html" class="bg-active"><span>快速入口</span> <i class="icon"></i></a>
        <a href="javascript:;" class="bg-active"><span>服务支持</span> <i class="icon"></i></a>
        <a href="javascript:;" class="bg-active"><span>合作伙伴</span> <i class="icon"></i></a>
        <a href="javascript:;" class="bg-active"><span>关注电务通</span> <i class="icon"></i>
        </a>
        <div class="wx-pic">            
            <img src="//cdn.dianwutong.com/home/images/wechat_icon.png">
        </div>
       
    <div class="center copyright">
        2016-2018 &copy; 北京电务通能源股份有限公司
    </div>
</footer>