<div class="common-header">
    <div class="common-header-con">
        <a class="logo" href="./index.do">
            <img src="//cdn.dianwutong.com/home/images/mobile/logo.svg">
        </a>
        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="menu-list-panel bg-black none" id="menu-list-panel">
        <a href="/index.html" class="bg-active">
            <span>首页</span>
            <i class="icon"></i>
        </a>
        <a href="/news-list.html" class="bg-active">
            <span>电务通动态</span>
            <i class="icon"></i>
        </a>
        <a href="/about.html" class="bg-active">
            <span>企业介绍</span>
            <i class="icon"></i>
        </a>
        <a href="/solution.html" class="bg-active">
            <span>产品服务</span>
            <i class="icon"></i>
        </a>
        <a href="/cases.html" class="bg-active">
            <span>案例介绍</span>
            <i class="icon"></i>
        </a>
        <a href="/contact.html" class="bg-active">
            <span>联系我们</span>
            <i class="icon"></i>
        </a>

        <div>
            <a href="http://cdn.dianwutong.com/app/dianwutong_saas/download.html" class="bg-yellow color-black experience">去体验服务</a>
        </div>
    </div>
</div>